bloodhound
chisel
crackmapexec
enum4linux
exiftool
exploitdb
feroxbuster
hashcat
hydra
impacket-scripts
metasploit-framework
name-that-hash
neo4j
nikto
nmap
proxychains4
python3-impacket
responder
rlwrap
seclists
smbclient
smbmap
snmp
sqlmap
sslscan
wireshark
