bloodhound
chisel
crackmapexec
enum4linux
exiftool
exploitdb
feroxbuster
ffuf
hydra
impacket-scripts
metasploit-framework
mitmproxy
name-that-hash
neo4j
nikto
nmap
proxychains4
python3-impacket
rlwrap
seclists
smbclient
smbmap
snmp
sqlmap
sshuttle
sslscan
