i3
i3blocks
i3lock-color
arc-theme
autoconf
automake
autotools-dev
betterlockscreen
build-essential
cargo
checkinstall
compton
curl
feh
firefox-esr
flameshot
freerdp2-x11
fzf
jq
lxappearance
m4
meson
neovim
openvpn
p7zip-full
papirus-icon-theme
python2
python3-pip
python3-venv
rofi
terminator
thunar
unclutter
xinit
xorg
