alacritty
arc-theme
autoconf
automake
autotools-dev
build-essential
cargo
checkinstall
compton
curl
feh
firefox
flameshot
i3
i3blocks
jq
lxappearance
m4
meson
neovim
p7zip-full
papirus-icon-theme
python3-pip
rofi
unclutter
xinit
xorg
